<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Home</title>>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test API</title>
    <link th:href="@{public/index.css}" type="text/css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <a href="http://localhost:8080/sync/json-catalog" target="_blank">JSON</a>
      <a href="http://localhost:8080/sync/xml-catalog" target="_blank">XML</a>
      <a href="http://localhost:8080/sync/csv-catalog" target="_blank">CSV</a>
    </div>
  </body>
</html>